body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

/* header */

.header {
    background: #FFFFFF;
}

.header-navigation {}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-black {
    color: #2E2F42;
}

.logo-white {
    color: #F4F4FD;
}

.header-menu-nav {}

.menu-nav-item {}

.menu-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
    color: #404BBF;
}


.contact {}

.contact-list {}

.contact-item {}

.contact-mail,
.contact-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-mail:hover,
.contact-mail:focus,
.contact-phone:hover,
.contact-phone:focus {
    color: #404BBF;
}

/* section main-content */

.main-content {}

.hero {
    background-color: #2E2F42;
    height: 600px;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}
/* section description */

.description {}

.description-list {
    display: flex;
}

.description-list-item {}

.description-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.about-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* section work */

.work {}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {
    display: flex;
}

.work-list-item {}

.work-item-img {}


/* section our-team */

.our-team {
    background-color: #F4F4FD;
}

.team-list {}

.team-list-item {}

.team-photo {}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/* section footer */

.footer {
    background-color: #2E2F42;
    height: 312px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* section portfolio-content */

.portfolio-content {}

.projects {}

.projects-filters-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 586px;
    height: 48px;
    left: 427px;
    top: 168px;
}

.projects-filters-btn {}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}
.projects-list {}

.projects-item {}

.projects-link {}

.project-img {}

.project-title {}

.projects-filters {}